<h1>Galpões & Estoque</h1>

<h2>Galpões</h2>
<% if @warehouses.empty? %>
  <p>Não existem galpões cadastrados</p>
<% else %>
  <% @warehouses.each do |warehouse| %>
    <dl>
      <dt> <%= link_to warehouse.name, warehouse_path(warehouse.id) %> </dt>
      <dd> Código: <%= warehouse.code %> </dd>
      <dd> Cidade: <%= warehouse.city %> </dd>
      <dd> <%= warehouse.area %> m² </dd>
    </dl>
  <% end %>
<% end %>